<% provide(:title, 'らぁめんレビューDBについて') %>
<h1>らぁめんレビューDBについて</h1>
らぁめんレビューDBでは会員登録いらずに、誰でもレビューの投稿、閲覧することができます。<br>
お店がない場合にはお店を登録してレビュー。お店の情報は皆さんが変更を行うことが可能となっております。<br>

<h3>ページ上部のメニュー説明</h3>
<ul>
    <li>ホーム</li>
    　トップページにアクセスします。<br><br>
    <li>ラーメン屋リスト</li>
    　登録されているラーメン屋がリスト表示されます。<br>
    　リストからお店を選ぶとお店の個別ページが表示され、お店の情報やレビューを閲覧することが出来ます。また、個別ページからレビューの投稿ページに移動が可能です。<br>
    　リストでは店舗名やエリアで絞り込み検索や【新着順】・【あいうえお順】・【ポイント順】・【レビュー数順】といったソート表示  が可能です。<br><br>
    <li>レビューの投稿</li>
    　レビューの投稿するページです。<br>
    　登録されているラーメン屋を選び、必要項目を入力してレビューの投稿が行えます。<br><br>
    <li>お店の追加</li>
    　登録されていないお店を登録するページです。<br>
    　必要な情報を入力し登録することで「ラーメン屋リスト」ページにお店が登録されます。<br>
    　情報は後からでもお店の個別ページにて編集することが可能ですので全ての情報を入力しなくても登録することが出来ます。<br><br>
</ul>



