<% provide(:title, 'ホーム') %>
<div class="center jumbotron">
  <h1>Welcome らぁめんレビューDB！</h1>

  <h2>
    らぁめんレビューDBへようこそ！<br>
    こちらは日本全国のラーメン屋さんのレビューが集まるサイトです。<br>
    ユーザーがラーメン屋の登録、レビューの投稿が出来ます！<br>
    会員登録いらず、いますぐレビュー可能！<br>
    レビューはみんなで共有できます！<br>
    使い方はページ右下の「らぁめんレビューDBについて」をご覧ください。
  </h2>
</div>
