<%= form_for(@ramen_list, url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :"店舗名","店舗名" %><span class="red">※</span>
  <%= f.text_field :shop_name, placeholder: "例:ラーメン屋　1号　新宿店", class: 'form-control' %>
  
  <%= f.label :"店舗名フリガナ","店舗名フリガナ" %><span class="red">※</span>
  <%= f.text_field :shop_name_furi, placeholder: "例:ラーメンヤ　イチゴウ　シンジュクテン", class: 'form-control' %>

  <%= f.label :"都道府県","都道府県" %><span class="red">※</span>
  <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, :prompt => "選択してください", class: 'form-control' %>
  <%= f.label :"市区町村","市区町村" %><span class="red">※</span>
  <%= f.text_field :place, placeholder: "例:新宿区ＸＸＸ XXX-xx", class: 'form-control' %>

  <%= f.label :"電話番号","電話番号" %>
  <%= f.text_field :tel, placeholder: "ハイフン付きで入力。例:090-1234-5678", class: 'form-control' %>

  <%= f.label :"営業時間","営業時間" %>
  <%= f.text_field :business_hours, placeholder: "例:11:00~15:00", class: 'form-control' %>


  <%= f.label :"定休日","定休日" %>
  <%= f.text_field :regular_holiday, placeholder: "例:年中無休", class: 'form-control' %>


  <%= f.label :"駐車場","駐車場" %>
  <%= f.text_field :parking_area, placeholder: "例:有、10台", class: 'form-control' %>


  <%= f.label :"アクセス","アクセス" %>
  <span class="ramen_textarea"><%= f.text_area :access, placeholder: "最寄駅、最寄バス停から所要時間、行き方等", class: 'form-control' %></span>


 <%= f.label :"備考","備考" %>
 <span class="ramen_textarea"><%= f.text_area :other, placeholder: "店に関する情報等", class: 'form-control' %></span>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>