<% provide(:title, @ramen_list.shop_name+"の編集") %>
<% provide(:url, ramen_list_path) %>
<% provide(:button_text, '変更') %>
<h1>お店の編集</h1>
<h2>
  <span class="red">※</span>
  は必須入力項目です
</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>