<% provide(:title, 'ラーメン屋リスト') %>
<h1>ラーメン屋リスト</h1>


<h2>検索機能</h2>
<h4>店舗名</h3>
<%= form_tag(ramen_lists_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :ordertype, @ordertype %>
    <h4>エリア</h4>
    <%#= collection_select :pre ,:prefecture, JpPrefecture::Prefecture.all, :name, :name,:selected => @pref %>
    <%= select_tag :prefecture,
      options_from_collection_for_select(JpPrefecture::Prefecture.all, "name", "name",
                                         selected: @pref ),:prompt=>"全国" %>
    <%= submit_tag '検索' , :name => nil %>

<% end %>
<%= will_paginate @customers %><br>
<% if now_sort("created_at") %>
  <%= link_to "新着順",ramen_lists_path(:search =>params[:search], :ordertype =>"created_at",:prefecture => @pref)  %>
<% else %>
  新着順
<% end %>
<% if now_sort("aiueo") %>
  <%= link_to "あいうえお順",ramen_lists_path(:search =>params[:search], :ordertype =>"aiueo",:prefecture => @pref) %>
<% else %>
  あいうえお順
<% end %>
<% if now_sort("avg-points") %>
  <%= link_to "ポイント順",ramen_lists_path(:search =>params[:search], :ordertype =>"avg-points",:prefecture => @pref) %>
<% else %>
  ポイント順
<% end %>
<% if now_sort("review-count") %>
  <%= link_to "レビュー数順",ramen_lists_path(:search =>params[:search], :ordertype =>"review-count",:prefecture => @pref) %>
<% else %>
  レビュー数順
<% end %>
<h2>登録件数(<%= list_count(params[:search],@pref) %>)</h2>
<ul class="ramen_lists">
  <% @ramen_lists.each do |list| %>
    <li>
      <span class="shop_name">
        <%= link_to list.shop_name, list %>
      </span>
      <span class="place">
       エリア: <%= list.prefecture + list.place %>
      </span>
      <span class="ave">
        <% if list.review_lists.any? %>
          平均点: <%= format("%.2f",  list.review_lists.average(:points)) %>
        <% else %>
          平均点: --.--
        <% end %>
      </span>
      <span class="review_count">
        レビュー数: <%= list.review_lists.count %>件
      </span>
    </li>
  <% end %>
</ul>

<%= will_paginate @customers %>