<% provide(:title, 'お店の追加') %>
<% provide(:url, ramen_registration_path) %>
<% provide(:button_text, '追加') %>
<h1>お店の追加</h1>
<h2>
  <span class="red">※</span>
  は必須入力項目です
</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>