<% provide(:title, @ramen_list.shop_name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="shop_sidebar">
    <section class="ramen_list_info">
      <h1>
        <%= @ramen_list.shop_name %>
      </h1>
      <h2>
        <%= @ramen_list.shop_name_furi %>
      </h2>
    </section>
    <section class="stats">
      <div class=".alt-table-responsive">
        <span class="avg_points">
          <table class="table">
            <tr>
              <th>
                平均点
              </th>
              <td>
                <div class="points">
                  <% if @ramen_list.review_lists.any? %>
                   <%= format("%.2f", @review_point_avg) %>
                  <% else %>
                    --.--
                  <% end %>
                </span>
              </td>
            </tr>
          </table>
        </span>
      </div>
      <div class=".alt-table-responsive ">
        <span class="shop_status">
          <table class="table table-bordered">
            <tr>
              <th>
                エリア
                </th>
              <td>
                <%= @ramen_list.prefecture + @ramen_list.place %>
              </td>
            </tr>
             <tr>
              <th>
                電話番号
                </th>
              <td>
                <%= @ramen_list.tel %>
              </td>
            </tr>
            <tr>
              <th>
                営業時間
                </th>
              <td>
                <%= @ramen_list.business_hours %>
              </td>
            </tr>
            <tr>
              <th>
                定休日
                </th>
              <td>
                <%= @ramen_list.regular_holiday %>
              </td>
            </tr>
            <tr>
              <th>
                駐車場
                </th>
              <td>
                <%= @ramen_list.parking_area %>
              </td>
            </tr>
            <tr>
              <th>
                アクセス
                </th>
              <td>
                <%= simple_format(@ramen_list.access) %>
              </td>
            </tr>
            <tr>
              <th>
                備考
                </th>
              <td>
                <%= simple_format(@ramen_list.other) %>
              </td>
            </tr>
            
          </table>
        </span>
      </div>
    </section>
    </div>
    <span><%= link_to "お店の情報を編集する",edit_ramen_list_path(@ramen_list.id) %></span>
  </aside>
  <div class="col-md-8">
    <% if @ramen_list.review_lists.any? %>
      <h3>レビュー数 (<%= @ramen_list.review_lists.count %>)</h3>
      <h4><%= link_to "このお店のレビューを投稿する", review_post_path(:ramen_id => @ramen_list.id) %></h4>
      <%= will_paginate @review_lists %>
      <ol class="review_lists">
        <%= render @review_lists %>
      </ol>
      <%= will_paginate @review_lists %>
    <% else %>  
      <h3>レビュー数 (0)</h3>
      <h4><%= link_to "このお店のレビューを投稿する", review_post_path(:ramen_id => @ramen_list.id) %></h4>
    <% end %>
  </div>
</div>