<%= form_for(@review_list, url: yield(:url), html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :"店舗名","店舗名" %><span class="red">※</span>
    <%= f.collection_select :ramen_list_id, RamenList.all, :id, :shop_name, :prompt => "選択してください",:selected => ramen_id_selected(params[:ramen_id]), class: 'form-control' %>
    <%= f.label :"食べたラーメン","食べたラーメン" %><span class="red">※</span>
    <%= f.text_field :eaten_ramen, placeholder: "例:とんこつラーメン", class: 'form-control' %>
    <%= f.label :"値段","値段" %><span class="red">※</span>
    <div class="radio-inline-custom">
      <%= f.radio_button :price, 1, {:class=>'form-control'} %> <%= f.label :price_1, "安い" %>
      <%= f.radio_button :price, 2, {:class=>'form-control'} %> <%= f.label :price_2, "普通" %>
      <%= f.radio_button :price, 3, {:class=>'form-control'} %> <%= f.label :price_3, "高い" %>
    </div>
    <%= f.label :"点数","点数" %><span class="red">※</span>
    <%= f.select :points, options_for_select((1..100).to_a.reverse), :prompt => "選択してください", class: 'form-control' %>
    <%= f.label :"訪問日","訪問日" %><span class="red">※</span>
    <div class = "select_visited">
    <%= f.date_select( :visited, use_month_numbers: true,
          start_year:     2000,
          end_year:       Time.now.year,
          default:        Time.now,
          date_separator: '/') %>
    </div>
    <%= f.label :"レビュー内容","レビュー内容" %><span class="red">※</span>
    <span class="review_textarea"><%= f.text_area :review, placeholder: "味は？具材は？接客は？等", class: 'form-control' %></span>
    <%= f.label :"添付画像","添付画像" %>
    <span class="picture">
    <%= f.file_field :picture %>
  </span>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>