<li id="review_list-<%= review_list.id %>">
  <span class="points"><%= review_list.points %>点</span>
  <span class="eaten_ramen"><%= review_list.eaten_ramen %></span>
  <span class="timestamp">
    <%= review_list.created_at %>投稿
  </span>

  <span class="price">値段: <%= price_conversion(review_list.price) %></span>
  <span class="visited">訪問日: <%= review_list.visited %></span>
  <span class="review"><%= simple_format(review_list.review) %></span>
  <% if review_list.picture? %>
    <span class= "review_picture">
      <%= image_tag review_list.picture.url  %>
    </span>
  <% end %>
</li>