<% provide(:title, 'レビューの投稿') %>
<% provide(:url, review_post_path) %>
<h1>レビューの投稿</h1>
<h2>
  <span class="red">※</span>
  は必須入力項目です
</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section class="review_form">
      <%= render 'shared/review_form' %>
    </section>
  </div>
</div>
  