@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.red{
  color: #f00;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* ramen_list */
.ramen_lists{
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .shop_name {
    margin-top: 5em;
    padding-top: 0;
  }
  .place {
    display: block;
    margin-left: 20px;
  }
  .ave{
    display: block;
    margin-left: 20px;
  }
  .review_count{
    margin-left: 20px;
  }
}

/* sidebar */

aside {
  section.ramen_list_info {
    margin-top: 20px;
    h2{
      text-align: left;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.shop_sidebar{
    background-color: #f08080;
    border: 2px dashed #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 4px #f08080;
    color: black;
    margin: 2em 0;
    padding: 2em;
  .avg_points{
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;

    th,td{
      text-align: center;
      vertical-align: middle !important;
      border: 2px solid #fff;
      background-color: #8fbc8f;
    }
    td{
      .points{
        font-size: 1.5em;
        background-color: #cafbce;
        border: 2px solid #fff;
        box-shadow: 0 0 0 2px #cafbce;
        color: #0a8915;
        line-height: 1.42857143;
        width: 100%;
      }
    }
  }
}
.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

}

.shop_status{
  th{
    background-color: #87ceeb;
    width:6em;
  }
  td{
    background-color: #00bfff;
  }
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  
}

input[type=radio] {
  width: auto;
  margin-bottom:15px;
}

.radio-inline-custom{
  
  input[type=radio]{
    position:static;
  }
  .field_with_errors{
    display:inline-block;
  }
  #review_list_price_1,#review_list_price_2,#review_list_price_3{
    display:inline-block;
  }
}
.review_textarea{
  textarea{
    height:10em;
  }
}
.select_visited{
    select{
      width:auto;
    }

}
.ramen_textarea{
  textarea{
    height:10em;
  }
}


input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox{
  margin-top:-10px;
  margin-bottom:10px;
  span{
    margin-left:20px;
    font-weight:normal;
  }
}


/* review_lists */

.review_lists {
  list-style: none;
  padding: 10px 20px;
  background: -webkit-repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
  background: repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
  //color: #ff0000;
  li {
    background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    margin:10px 0;
    padding: 20px;
    border: 1px solid #ff0000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
    border-radius: 1em;	
  }
  .points{
    display:inline-block;
    text-align: center;
    font-size: 1.5em;
    background-color: #cafbce;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #cafbce;
    color: #0a8915;
   // margin: 1em 0;
    //padding: 0.3em;
    width:80px;
  }
  .eaten_ramen {
 //   margin-top: 5em;
    padding-top: 0;
    font-size:1.5em;
  }
  .price{
    margin: 5px 0px;
    font-weight: bold;
    display: block;
  }
  .visited{
    margin: 5px 0px;
    display: block;
    font-weight: bold;
  }
  .review {
    display: block;
    margin-left: 0px;
    border: 2px solid #ff0000;
  }
  .review_picture{
      display: block;
      padding: 5px 0;
      text-align:center;
  }
  .timestamp {
    color: $gray-light;
   // display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}