<footer class="footer">
  <small>
Produced by <%= link_to "KENTA OKADA.",'http://www.shonan-it.ac.jp/contents/topics/20151104_01/index.html' %>
Supported by <%= link_to "Sonix Co., Ltd.", 'https://www.sonix.asia/' %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "らぁめんレビューDBについて",   about_path %></li>
    </ul>
  </nav>
</footer>