<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "らぁめんレビューDB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "ラーメン屋リスト", ramen_lists_path  %></li>
        <li><%= link_to "レビューの投稿", review_post_path %></li>
        <li><%= link_to "お店の追加", ramen_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>